<div class="container">
<h2 class="display-4 title">{{APP_NAME}}</h2>
<p class="desc">{{APP_DESC}}</p>
<div class="drop-container">
  <ngx-dropzone (change)="onSelect($event)">
    <ngx-dropzone-label>Click to select files or Drag and Drop to upload</ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
</div>
  <div class="btn-container">
    <button type="button" (click)="handleClick()" class="upload-btn">Upload</button>
  </div>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
