
html {
  font-family: "Fredoka One", cursive;
}
.title-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
a {
  font-size: 3vw;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #363636;
  background: linear-gradient(to right, #363636 0%, #363636 100%);
  background-repeat: no-repeat;
  background-position: left 100%;
  transition-duration: 1s;
  background-size: 0 6%;
}
a:hover {
  background-size: 100% 6%;
}
